/* Contact pagina */
.endFloat {
    content: "";
    display: table;
    clear: both;
}

form {
    color: black;
    font-family: "Open Sans", sans-serif;
}

form {
    box-sizing: border-box;
    margin: 0 20px 4em;
}

#sbutton {
    width: 200px;
    height: 50px;
    border-style: none;
    margin-top: 0.5em;
    float: right;
}

label[for=berichtVeld]{
    float: right;
    margin: 4px 0;
}

textarea {
    float: right;
}

#sbutton:hover{
    border: solid grey;
}

.contactI {
    font-family: "Open Sans", sans-serif;
    font-size: 90%;
}

.vBlock{
    box-sizing: border-box;
    display: inline-block;
}

#contactUren {
    width: 300px;
}

.button {
    margin: 20px;
}

.oUren p {
    line-height: 40%;
}

.cRB {
    margin-left: 16px;
}

@media (max-width: 600px) {
    .kolom50{
        width: 100%;
    }
}