/* Contact pagina */
#gevelFoto {
    float: left;
}

#contactInfo {
    float: left;
}

.endFloat {
    content: "";
    display: table;
    clear: both;
}

form {
    color: black;
    font-family: "Open Sans", sans-serif;
}

.contactI {
    font-family: "Open Sans", sans-serif;
    font-size: 90%;
}



.oUren p {
    line-height: 40%;
}

.cRB {
    margin-left: 16px;
}

@media (max-width: 600px) {
    .kolom50{
        width: 100%;
    }
}