h3 {
    font-weight: normal;
}

img not #logo {
   margin: 2%;
}

#hoofdfoto {
    width: 62.666%;
    height: auto;
}

.rij2KolomOngelijk:after{
    content: "";
    display: table;
    clear: both;
}



@media (max-width: 960px) {
    .kolom33 {
        width: 100%;
    }
    img not #logo {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 700px) {
    body {
        margin: 0;
    }
    img not #logo {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}