h3 {
    font-weight: normal;
}

#hoofdfoto {
    width: 66.666%;
    height: auto;
}

.rij2KolomOngelijk:after{
    content: "";
    display: table;
    clear: both;
}



@media (max-width: 960px) {
    .kolom33 {
        width: 100%;
    }
}